# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Build outputs
# dist/
# dist-ssr/
!assets/
!index.html

# IDEs and editors
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite
# vite-env.d.ts is usually included in git, but some people exclude it. 
# I'll keep it as it's often needed for CI.
